## Extraer datos mediante la API de inmobiliaria

Pagina donde se hizo el webscraping: https://www.argenprop.com/ 

Paises admitidos: Argentina, Chile, Uruguay, Brasil(1propiedad)

In [ ]:
#Librerias
import requests
import numpy as np
import pandas as pd
from geopy.geocoders import Nominatim
from datetime import datetime
import pytz
from unidecode import unidecode

## 1. Creamos la conexión con la API para extraer los datos

In [1179]:
%%time

#url = 'http://reffindr-alb-1167121448.us-east-1.elb.amazonaws.com:4155/argenprop'
url = 'https://i004-reffindr-back-python-dev.onrender.com/argenprop'

# Parámetros de la solicitud
params = {'pais': 'argentina', 'limite': 200}
response = requests.get(url, params=params)
print(response.status_code)

200
CPU times: total: 62.5 ms
Wall time: 3min 16s

In [1182]:
data = response.json()

In [1183]:
df = pd.DataFrame(data)
df

,Bathrooms,Bedrooms,CountryName,Description,Environments,Latitude,Longitude,Price,Seniority,StateName,Title,img
0,2,3,Argentina,"Casa en Barrio Privado Camino Real, cuenta con...",4,"-34,48684","-58,58234",USD 2.300,27,Buenos Aires,Av. Camino Real Morón San Fernando 1500,[https://static1.sosiva451.com/08910661/ea4bac...
1,2,3,Argentina,Alquilo amplio Duplex en Florencio varela comb...,4,"-34,79154","-58,27525",$ 490.000,10,Buenos Aires,Combate De San Lorenzo 1700,[https://static1.sosiva451.com/28339561/8cca67...
2,2,4,Argentina,DUEÑO ALQUILA\r\n\n •SIN EXPENSAS\r\n •SIN GAS...,5,0.0,0.0,USD 1.100,15,Buenos Aires,casa en lujan con pileta alquiler anual,[https://static1.sosiva451.com/09149461/6abd53...
3,2,4,Argentina,Imponente casa de estilo en la esquina de Alve...,5,"-32,94819","-60,66076",$ 2.300.000,90,Santa Fe,Mendoza 2300,[https://static1.sosiva451.com/22799461/e73d3f...
4,5,5,Argentina,Exclusiva Casa en Alquiler en Puertos del Lago...,7,"-34,318497","-58,742558",USD 7.500,0,Buenos Aires,Puertos del Lago Barrio Marinas Escobar Alquiler,[https://static1.sosiva451.com/48236461/e64ab1...
...,...,...,...,...,...,...,...,...,...,...,...,...
195,5,4,Argentina,Excelente casa en alquiler ubicada en la zona...,5,"-34,57397","-58,45259",USD 4.900,35,Capital Federal,Zapiola 1000,[https://static1.sosiva451.com/43497431/44c122...
196,1,2,Argentina,"Ubicada en la zona de De Vicenzo Grande, esta ...",3,"-34,435","-58,76024",$ 780.000,9,Buenos Aires,De Vicenzo Grande La Esperanza 2300,[https://static1.sosiva451.com/31652661/f23054...
197,3,3,Argentina,SOBRE AVENIDA COSTANERA - INMEJORABLE Y ESTRAT...,None,"-32,839394","-60,69765",$ 540.000,45,Santa Fe,AVDA COSTANERA ESQUINA GUEMES 3100,[https://static1.sosiva451.com/06852661/76f6f8...
198,3,4,Argentina,"Espectacular Casa en ALQUILER en San Marino, F...",7,"-32,929493","-60,826115",Consultar precio,0,Santa Fe,Av. Fuerza Aerea 3000,[https://static1.sosiva451.com/49492541/3ec0a2...
199,1,2,Argentina,3 amb en PB con patio \n con Terraza en toda l...,3,"-34,57438","-58,47787",$ 800.000,45,Capital Federal,Miller 2100,[https://static1.sosiva451.com/21989461/a3a778...

## 2. Transformación de datos

### 2.0 Transformación Tabla de datos de Propietarios

Copia del df original

In [1184]:
df_properties = df.copy()

Función para convertir la columna Price en moneda de pesos argentinos

In [1185]:
def convert_to_ars(price):
    exchange_rate = 1011.61 
    price = str(price)
    if 'USD' in price:
        price_numeric = float(price.replace('USD', '').replace('.', '').replace(',', '.').strip())
        return price_numeric * exchange_rate
    elif '$' in price:
        price_numeric = float(price.replace('$', '').replace('.', '').replace(',', '.').strip())
        return price_numeric
    else:
        return None

In [1186]:
df_properties['Price'] = df_properties['Price'].apply(convert_to_ars)

Arreglo de string de latitud y longitud

In [1188]:
# Reemplazar comas por puntos solo en las columnas Latitude y Longitude
df_properties['Latitude'] = df_properties['Latitude'].apply(lambda x: str(x).replace(',', '.') if isinstance(x, str) else str(x))
df_properties['Longitude'] = df_properties['Longitude'].apply(lambda x: str(x).replace(',', '.') if isinstance(x, str) else str(x))

# Convertir las columnas a float
df_properties['Latitude'] = pd.to_numeric(df_properties['Latitude'], errors='coerce')
df_properties['Longitude'] = pd.to_numeric(df_properties['Longitude'], errors='coerce')

Eliminando filas que contienen valores en blanco (' ')

In [1189]:
string_columns = df_properties.select_dtypes(include=['object', 'string'])
rows_with_spaces = string_columns.apply(lambda col: col.str.strip() == '', axis=0).any(axis=1)
df_properties = df_properties[~rows_with_spaces].reset_index(drop=True)

In [1190]:
df_properties.isnull().sum()

Bathrooms       17
Bedrooms        11
CountryName      0
Description      0
Environments    20
Latitude         0
Longitude        0
Price            6
Seniority        0
StateName        0
Title            0
img              0
dtype: int64

Eliminando filas con valores nulos

In [1191]:
df_properties = df_properties.dropna().reset_index(drop=True)

In [1193]:
df_properties.isnull().sum()

Bathrooms       0
Bedrooms        0
CountryName     0
Description     0
Environments    0
Latitude        0
Longitude       0
Price           0
Seniority       0
StateName       0
Title           0
img             0
dtype: int64

Función para obtener dirección en base a latitud y longitud

In [1194]:
geolocator = Nominatim(user_agent="geoapi_exercises")

# Función para obtener la dirección
def obtener_direccion(lat, lon):
    if lat == 0.0 and lon == 0.0:
        return None 
    try:
        location = geolocator.reverse((lat, lon))
        return location.address if location else None
    except Exception as e:
        return f"Error: {e}"

In [1195]:
df_properties['Address'] = df_properties.apply(lambda x: obtener_direccion(x['Latitude'], x['Longitude']), axis=1)

In [1196]:
df_properties.dropna(inplace=True) 
df_properties.reset_index(drop=True, inplace=True)

Obtener numero de calle y/o direccion

In [1198]:
df_properties['Address'] = df_properties['Address'].apply(lambda x: ', '.join(x.split(', ')[:3]))

df_properties = df_properties.drop(columns=['Latitude', 'Longitude']) # elimino las columnas latitud y longitud

In [1199]:
df_properties.isnull().sum()

Bathrooms       0
Bedrooms        0
CountryName     0
Description     0
Environments    0
Price           0
Seniority       0
StateName       0
Title           0
img             0
Address         0
dtype: int64

In [1200]:
df_properties.dropna(inplace=True) 
df_properties.reset_index(drop=True, inplace=True)

Eliminando propiedades que no tienen imagen

In [1201]:
df_properties['img'] = df_properties['img'].astype(str)
df_properties.drop(df_properties[df_properties['img'] == '[]'].index, inplace=True)

In [1202]:
df_properties.reset_index(drop=True, inplace=True)

Eliminando titulo sin sentido

In [1207]:
df_properties.drop(df_properties[df_properties['Title'].str.contains('U\$', na=False)].index, inplace=True)

Seleccionando 200 registros aleatoriamente

In [1227]:
df_prop = df_properties.sample(n=5, random_state=200).reset_index(drop=True)

In [1229]:
df_prop

,Bathrooms,Bedrooms,CountryName,Description,Environments,Price,Seniority,StateName,Title,img,Address
0,5,4,Argentina,Hermosa casa en alquiler ubicada en La Reserva...,5,1820898.0,6,Buenos Aires,La reserva de Cardales 100,['https://static1.sosiva451.com/11772651/daf5a...,"Lomas del Río Luján, Partido de Campana, Bueno..."
1,3,3,Argentina,ANUAL U$S 2.500.- AMOBLADA\n enero u$4000 ALQ...,4,2529025.0,0,Buenos Aires,Casa alquiler en San Gabriel Villanueva Tigre,['https://static1.sosiva451.com/12161351/719f1...,"Barrio San Gabriel, Dique Luján, Partido de Tigre"
2,1,2,Argentina,LA PROPIEDAD SE ENCUENTRA UBICADA EN LA CALLE ...,4,190000.0,40,Santa Fe,French al 2800,['https://static1.sosiva451.com/83026561/ac6af...,"5934, Domingo French, Empalme Graneros"
3,2,2,Argentina,PH para uso Profesional en Alquiler.\n El ingr...,3,600000.0,0,Buenos Aires,Primera Junta 100,['https://static1.sosiva451.com/06950461/e35a5...,"Primera Junta, Quilmes Este, Quilmes"
4,2,4,Argentina,Imponente casa de estilo en la esquina de Alve...,5,2300000.0,90,Santa Fe,Mendoza 2300,['https://static1.sosiva451.com/22799461/e73d3...,"2649, Mendoza, Nuestra Señora de Lourdes"

In [1230]:
df_prop.insert(0, 'Id', range(1, len(df_prop) + 1))

Agregando columnas faltantes

In [1231]:
columnas = [
    "Water", "Gas", "Surveillance", "Electricity", "Internet", 
    "Pool", "Garage", "Pets", "Grill", "Elevator", "Terrace",
    "IsHistoric", "IsWorking", "HasWarranty", "RangeSalary"
]

# Agregar columnas con valores específicos
for column in columnas:
    if column in ["Water", "Gas", "Electricity"]:
        df_prop[column] = True  # Estas columnas son siempre True
    elif column in ["Surveillance", "Pets", "Pool"]:
        df_prop[column] = np.random.choice([True, False], size=len(df_prop))
    elif column == "RangeSalary":
        # Genero los salarios con distribución sesgada a la izquierda
        salary_range = np.random.triangular(left=400000, mode=900000, right=3000000, size=len(df_prop))
        salary_range = salary_range.astype(int)  # Asegurarnos de que sean números enteros
        df_prop[column] = salary_range
    else:
        df_prop[column] = np.random.choice([True, False], size=len(df_prop), p=[0.8, 0.2]) # sesgo para que haya mas true que false

In [1232]:
df_prop.loc[:, 'CreatedAt'] = datetime.now(pytz.UTC)
df_prop['UpdatedAt'] = pd.Series([None] * len(df_prop), dtype="datetime64[ns]")
df_prop['IsDeleted'] = False

Ordenando columnas

In [1233]:
orden_columns = [
    "Id","img","IsWorking", "HasWarranty", "RangeSalary", "CountryName", "StateName", "Title", "Address", "Price", "Environments", 
    "Bathrooms", "Bedrooms", "Seniority", "Water", "Gas", "Surveillance", "Electricity", "Internet", "Pool", 
    "Garage", "Pets", "Grill", "Elevator", "Terrace", "IsHistoric", "Description", "CreatedAt", "UpdatedAt",
    "IsDeleted"
]

df_prop = df_prop[orden_columns]

Rangos Salariales

In [1234]:
ranges = [
    (300000, 600000),
    (600000, 1000000),
    (1000000, 3000000),
    (3000000, float("inf"))
]

# Función para asignar el rango
def assign_salary_range(salary):
    for i, (low, high) in enumerate(ranges, start=1):
        if low <= salary < high:
            return i
    return None

In [1235]:
df_prop["RangeSalary"] = df_prop["RangeSalary"].apply(assign_salary_range)

In [1236]:
df_prop.rename(columns={'RangeSalary': 'SalaryId'}, inplace=True)

Cambiando a int las columnas Environments, Bathrooms, Bedrooms, Seniority

In [1338]:
df_prop[['Environments', 'Bathrooms', 'Bedrooms', 'Seniority']] = df_prop[['Environments', 'Bathrooms', 'Bedrooms', 'Seniority']].astype('int64')

In [1339]:
df_prop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 30 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            5 non-null      int64
 1   img           5 non-null      object
 2   IsWorking     5 non-null      bool
 3   HasWarranty   5 non-null      bool
 4   SalaryId      5 non-null      int64
 5   CountryName   5 non-null      object
 6   StateName     5 non-null      object
 7   Title         5 non-null      object
 8   Address       5 non-null      object
 9   Price         5 non-null      float64
 10  Environments  5 non-null      int64
 11  Bathrooms     5 non-null      int64
 12  Bedrooms      5 non-null      int64
 13  Seniority     5 non-null      int64
 14  Water         5 non-null      bool
 15  Gas           5 non-null      bool
 16  Surveillance  5 non-null      bool
 17  Electricity   5 non-null      bool
 18  Internet      5 non-null      bool
 19  Pool          5 non-null      bool
 20  Garage        5 non-null      bool
 21  Pets          5 non-null      bool
 22  Grill         5 non-null      bool
 23  Elevator      5 non-null      bool
 24  Terrace       5 non-null      bool
 25  IsHistoric    5 non-null      bool
 26  Description   5 non-null      object
 27  CreatedAt     5 non-null      datetime64[us, UTC]
 28  UpdatedAt     0 non-null      datetime64[ns]
 29  IsDeleted     5 non-null      bool
dtypes: bool(15), datetime64[ns](1), datetime64[us, UTC](1), float64(1), int64(6), object(6)
memory usage: 803.0+ bytes

In [1340]:
df_prop

,Id,img,IsWorking,HasWarranty,SalaryId,CountryName,StateName,Title,Address,Price,Environments,Bathrooms,Bedrooms,Seniority,Water,Gas,Surveillance,Electricity,Internet,Pool,Garage,Pets,Grill,Elevator,Terrace,IsHistoric,Description,CreatedAt,UpdatedAt,IsDeleted
0,1,['https://static1.sosiva451.com/11772651/daf5a...,True,True,2,Argentina,Buenos Aires,La reserva de Cardales 100,"Lomas del Río Luján, Partido de Campana, Bueno...",1820898.0,5,5,4,6,True,True,False,True,False,False,False,False,True,True,False,True,Hermosa casa en alquiler ubicada en La Reserva...,2024-12-06 07:26:55.743750+00:00,NaT,False
1,2,['https://static1.sosiva451.com/12161351/719f1...,True,True,2,Argentina,Buenos Aires,Casa alquiler en San Gabriel Villanueva Tigre,"Barrio San Gabriel, Dique Luján, Partido de Tigre",2529025.0,4,3,3,0,True,True,False,True,False,True,True,False,True,False,True,False,ANUAL U$S 2.500.- AMOBLADA\n enero u$4000 ALQ...,2024-12-06 07:26:55.743750+00:00,NaT,False
2,3,['https://static1.sosiva451.com/83026561/ac6af...,True,True,2,Argentina,Santa Fe,French al 2800,"5934, Domingo French, Empalme Graneros",190000.0,4,1,2,40,True,True,False,True,True,True,True,False,True,True,True,True,LA PROPIEDAD SE ENCUENTRA UBICADA EN LA CALLE ...,2024-12-06 07:26:55.743750+00:00,NaT,False
3,4,['https://static1.sosiva451.com/06950461/e35a5...,True,True,2,Argentina,Buenos Aires,Primera Junta 100,"Primera Junta, Quilmes Este, Quilmes",600000.0,3,2,2,0,True,True,False,True,False,False,True,False,True,False,True,True,PH para uso Profesional en Alquiler.\n El ingr...,2024-12-06 07:26:55.743750+00:00,NaT,False
4,5,['https://static1.sosiva451.com/22799461/e73d3...,True,True,3,Argentina,Santa Fe,Mendoza 2300,"2649, Mendoza, Nuestra Señora de Lourdes",2300000.0,5,2,4,90,True,True,True,True,True,True,True,False,True,True,False,True,Imponente casa de estilo en la esquina de Alve...,2024-12-06 07:26:55.743750+00:00,NaT,False

### 2.1 Transformación Tabla de datos de Usuarios

Leyendo datos fictios creados por IA

In [1239]:
csv_path = 'Data_ficticia\\Users_Ficticios_IA.csv'
df_users = pd.read_csv(csv_path, delimiter=';')

Seleccionando 400 usuarios aleatoriamente

In [1240]:
df_users = df_users.sample(n=10, random_state=5).reset_index(drop=True)

Transformación de datos

In [1241]:
# Función para quitar los dos últimos elementos
def remove_last_two_parts(address):
    parts = address.split(', ')  # Dividir por la coma y el espacio
    return ', '.join(parts[:-2])  # Reunir todas las partes excepto las dos últimas

# Aplicar la función a la columna 'Address'
df_users['Address'] = df_users['Address'].apply(remove_last_two_parts)

Creando columnas faltantes

In [1242]:
df_users.insert(0, 'Id', range(1, len(df_users) + 1))
df_users.insert(1, 'RoleName', ['Tenant' if i % 2 == 0 else 'Owner' for i in range(len(df_users))])
df_users.insert(2, 'CountryName', 'Argentina')
df_users.insert(4, 'IsCompany', df_users['RoleName'].apply(lambda x: 'False' if x == 'Owner' else ''))
df_users.insert(13, 'IsProfileComplete', 'True')
df_users.insert(15, 'CreatedAt', datetime.now(pytz.UTC))
df_users.insert(16, 'UpdatedAt', pd.Series([None] * len(df_users), dtype="datetime64[ns]"))
df_users.insert(17, 'IsDeleted', False)

Enumerando las filas tanto para Owner y Tenant

In [1243]:
df_users.insert(4, 'UserOwnerInfoId', pd.Series([None] * len(df_users), dtype="Int64"))
df_users.insert(5, 'UserTenantInfoId', pd.Series([None] * len(df_users), dtype="Int64"))

owner_counter = 1
tenant_counter = 1

for index, row in df_users.iterrows():
    if row['RoleName'] == 'Owner':
        df_users.at[index, 'UserOwnerInfoId'] = owner_counter
        owner_counter += 1
    elif row['RoleName'] == 'Tenant':
        df_users.at[index, 'UserTenantInfoId'] = tenant_counter
        tenant_counter += 1

In [1244]:
df_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id                 10 non-null     int64
 1   RoleName           10 non-null     object
 2   CountryName        10 non-null     object
 3   StateName          10 non-null     object
 4   UserOwnerInfoId    5 non-null      Int64
 5   UserTenantInfoId   5 non-null      Int64
 6   IsCompany          10 non-null     object
 7   Name               10 non-null     object
 8   LastName           10 non-null     object
 9   Dni                10 non-null     int64
 10  Phone              10 non-null     object
 11  Address            10 non-null     object
 12  BirthDate          10 non-null     object
 13  Email              10 non-null     object
 14  Password           10 non-null     object
 15  IsProfileComplete  10 non-null     object
 16  GenreName          10 non-null     object
 17  CreatedAt          10 non-null     datetime64[us, UTC]
 18  UpdatedAt          0 non-null      datetime64[ns]
 19  IsDeleted          10 non-null     bool
dtypes: Int64(2), bool(1), datetime64[ns](1), datetime64[us, UTC](1), int64(2), object(13)
memory usage: 1.6+ KB

In [1245]:
df_users

,Id,RoleName,CountryName,StateName,UserOwnerInfoId,UserTenantInfoId,IsCompany,Name,LastName,Dni,Phone,Address,BirthDate,Email,Password,IsProfileComplete,GenreName,CreatedAt,UpdatedAt,IsDeleted
0,1,Tenant,Argentina,San Juan,<NA>,1,,Trinidad,Farre,92309378,+54 9 11-5516-2964,Acceso Nydia Gimenez 975,3/04/1971,trinidad.farre@gmail.com,@Farre03,True,Female,2024-12-06 07:27:23.081286+00:00,NaT,False
1,2,Owner,Argentina,Salta,1,<NA>,False,Victorino,Valentin,19496248,+54 9 21-5986-6054,Camino del Libertador 1304,20/05/1999,victorino.valentin@gmail.com,<Valentin20,True,Male,2024-12-06 07:27:23.081286+00:00,NaT,False
2,3,Tenant,Argentina,Jujuy,<NA>,2,,Rosenda,Barreda,12697037,+54 9 21-5297-7790,Pasaje de Emperatriz Ribes 56,20/01/1980,rosenda.barreda@gmail.com,@Barreda20,True,Female,2024-12-06 07:27:23.081286+00:00,NaT,False
3,4,Owner,Argentina,Salta,2,<NA>,False,Panfilo,Vergara,57455334,+54 9 21-4995-5021,Alameda de Heliodoro Hurtado 317,29/07/1952,panfilo.vergara@gmail.com,@Vergara29,True,Male,2024-12-06 07:27:23.081286+00:00,NaT,False
4,5,Tenant,Argentina,Corrientes,<NA>,3,,Lucia,Arrieta,16391990,+54 9 11-4236-3158,Ronda de Quirino Suarez 3476,8/09/1953,lucia.arrieta@gmail.com,]Arrieta08,True,Female,2024-12-06 07:27:23.081286+00:00,NaT,False
5,6,Owner,Argentina,Santa Fe,3,<NA>,False,Cloe,Pinol,38504574,+54 9 23-4978-8992,Ronda Pancho Alsina 98,14/02/1980,cloe.pinol@gmail.com,>Pinol14,True,Female,2024-12-06 07:27:23.081286+00:00,NaT,False
6,7,Tenant,Argentina,Neuquén,<NA>,4,,Ani,Martinez,45999479,+54 9 20-5488-1454,Avenida Corrientes 1157,6/10/1984,ani.martinez@gmail.com,#Martinez06,True,Female,2024-12-06 07:27:23.081286+00:00,NaT,False
7,8,Owner,Argentina,Córdoba,4,<NA>,False,Silvia,Matas,41942604,+54 9 12-4898-4106,Calle Rivadavia 456,18/02/1987,silvia.matas@gmail.com,.Matas18,True,Female,2024-12-06 07:27:23.081286+00:00,NaT,False
8,9,Tenant,Argentina,Jujuy,<NA>,5,,Chuy,Larranaga,39788013,+54 9 15-4249-7155,C. Macaria Tomas 715,31/07/1960,chuy.larranaga@gmail.com,{Larranaga31,True,Male,2024-12-06 07:27:23.081286+00:00,NaT,False
9,10,Owner,Argentina,Santiago del Estero,5,<NA>,False,Pacifica,Valcarcel,11747146,+54 9 12-6644-4604,C. de Isa Ariño 450,23/01/1967,pacifica.valcarcel@gmail.com,?Valcarcel23,True,Female,2024-12-06 07:27:23.081286+00:00,NaT,False

### 2.2 Tabla de datos de UsersOwnersInfo

In [1394]:
filtered_UserOwner = df_users[df_users['RoleName'] == 'Owner']

df_UserOwnerInfo = filtered_UserOwner[['IsCompany', 'Id', 'CreatedAt', 'UpdatedAt', 'IsDeleted']]
UsersOwnersInfo = df_UserOwnerInfo.rename(columns={'Id': 'UserId'})

In [1395]:
UsersOwnersInfo.insert(0, 'Id', range(1, len(df_UserOwnerInfo) + 1))

In [1396]:
UsersOwnersInfo['IsCompany'] = UsersOwnersInfo['IsCompany'].astype(bool)

In [1397]:
UsersOwnersInfo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 1 to 9
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Id         5 non-null      int64
 1   IsCompany  5 non-null      bool
 2   UserId     5 non-null      int64
 3   CreatedAt  5 non-null      datetime64[us, UTC]
 4   UpdatedAt  0 non-null      datetime64[ns]
 5   IsDeleted  5 non-null      bool
dtypes: bool(2), datetime64[ns](1), datetime64[us, UTC](1), int64(2)
memory usage: 210.0 bytes

In [1398]:
UsersOwnersInfo

   Id  IsCompany  UserId                        CreatedAt UpdatedAt  IsDeleted
1   1       True       2 2024-12-06 07:27:23.081286+00:00       NaT      False
3   2       True       4 2024-12-06 07:27:23.081286+00:00       NaT      False
5   3       True       6 2024-12-06 07:27:23.081286+00:00       NaT      False
7   4       True       8 2024-12-06 07:27:23.081286+00:00       NaT      False
9   5       True      10 2024-12-06 07:27:23.081286+00:00       NaT      False

### 2.3 Tabla de datos de UsersTenantsInfo

In [1251]:
filtered_UserTenants = df_users[df_users['RoleName'] == 'Tenant']

df_UserTenantInfo = filtered_UserTenants[['Id', 'CreatedAt', 'UpdatedAt', 'IsDeleted']]
df_UserTenantInfo = df_UserTenantInfo.rename(columns={'Id': 'UserId'})

In [1252]:
df_UserTenantInfo.insert(0, 'Id', range(1, len(df_UserTenantInfo) + 1))

In [1253]:
df_UserTenantInfo = pd.merge(df_UserTenantInfo, df_prop[['Id', 'IsWorking', 'HasWarranty', 'SalaryId']], on='Id', how='inner')

In [1254]:
UsersTenantsInfo = df_UserTenantInfo[['Id', 'IsWorking', 'HasWarranty', 'SalaryId', 'UserId', 'CreatedAt', 'UpdatedAt', 'IsDeleted']]

In [1255]:
UsersTenantsInfo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Id           5 non-null      int64
 1   IsWorking    5 non-null      bool
 2   HasWarranty  5 non-null      bool
 3   SalaryId     5 non-null      int64
 4   UserId       5 non-null      int64
 5   CreatedAt    5 non-null      datetime64[us, UTC]
 6   UpdatedAt    0 non-null      datetime64[ns]
 7   IsDeleted    5 non-null      bool
dtypes: bool(3), datetime64[ns](1), datetime64[us, UTC](1), int64(3)
memory usage: 343.0 bytes

In [1256]:
UsersTenantsInfo

,Id,IsWorking,HasWarranty,SalaryId,UserId,CreatedAt,UpdatedAt,IsDeleted
0,1,True,True,2,1,2024-12-06 07:27:23.081286+00:00,NaT,False
1,2,True,True,2,3,2024-12-06 07:27:23.081286+00:00,NaT,False
2,3,True,True,2,5,2024-12-06 07:27:23.081286+00:00,NaT,False
3,4,True,True,2,7,2024-12-06 07:27:23.081286+00:00,NaT,False
4,5,True,True,3,9,2024-12-06 07:27:23.081286+00:00,NaT,False

### 2.4 Tabla de datos de Roles

Creación de la tabla Roles

In [1257]:
data_roles = [
    {"Id": 1, "RoleName": "Tenant"},
    {"Id": 2, "RoleName": "Owner"}
]
Roles = pd.DataFrame(data_roles)

In [1258]:
Roles.loc[:, 'CreatedAt'] = datetime.now(pytz.UTC)
Roles['UpdatedAt'] = pd.Series([None] * len(Roles), dtype="datetime64[ns]")
Roles['IsDeleted'] = False

In [1259]:
Roles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Id         2 non-null      int64
 1   RoleName   2 non-null      object
 2   CreatedAt  2 non-null      datetime64[us, UTC]
 3   UpdatedAt  0 non-null      datetime64[ns]
 4   IsDeleted  2 non-null      bool
dtypes: bool(1), datetime64[ns](1), datetime64[us, UTC](1), int64(1), object(1)
memory usage: 194.0+ bytes

In [1260]:
Roles

   Id RoleName                        CreatedAt UpdatedAt  IsDeleted
0   1   Tenant 2024-12-06 07:27:27.456712+00:00       NaT      False
1   2    Owner 2024-12-06 07:27:27.456712+00:00       NaT      False

### 2.5 Tabla de datos de Countries

Creación de la tabla Countries

In [1261]:
data_country = [
    {"Id": 1, "CountryName": "Argentina"}
]
Countries = pd.DataFrame(data_country)

In [1262]:
Countries.loc[:, 'CreatedAt'] = datetime.now(pytz.UTC)
Countries['UpdatedAt'] = pd.Series([None] * len(Countries), dtype="datetime64[ns]")
Countries['IsDeleted'] = False

In [1263]:
Countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Id           1 non-null      int64
 1   CountryName  1 non-null      object
 2   CreatedAt    1 non-null      datetime64[us, UTC]
 3   UpdatedAt    0 non-null      datetime64[ns]
 4   IsDeleted    1 non-null      bool
dtypes: bool(1), datetime64[ns](1), datetime64[us, UTC](1), int64(1), object(1)
memory usage: 161.0+ bytes

In [1264]:
Countries

   Id CountryName                        CreatedAt UpdatedAt  IsDeleted
0   1   Argentina 2024-12-06 07:27:28.594458+00:00       NaT      False

### 2.6 Tabla de datos de States

Creación de la tabla States

In [1265]:
data_states = {
    1: "Buenos Aires",
    2: "Catamarca",
    3: "Chaco",
    4: "Chubut",
    5: "Córdoba",
    6: "Corrientes",
    7: "Entre Ríos",
    8: "Formosa",
    9: "Jujuy",
    10: "La Pampa",
    11: "La Rioja",
    12: "Mendoza",
    13: "Misiones",
    14: "Neuquén",
    15: "Río Negro",
    16: "Salta",
    17: "San Juan",
    18: "San Luis",
    19: "Santa Cruz",
    20: "Santa Fe",
    21: "Santiago del Estero",
    22: "Tierra del Fuego",
    23: "Tucumán",
    24: "Ciudad Autónoma de Buenos Aires"
}

States = pd.DataFrame(data_states.items(), columns=["Id", "StateName"])

In [1266]:
States['CountryId'] = 1
States.loc[:, 'CreatedAt'] = datetime.now(pytz.UTC)
States['UpdatedAt'] = pd.Series([None] * len(States), dtype="datetime64[ns]")
States['IsDeleted'] = False

In [1267]:
States.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Id         24 non-null     int64
 1   StateName  24 non-null     object
 2   CountryId  24 non-null     int64
 3   CreatedAt  24 non-null     datetime64[us, UTC]
 4   UpdatedAt  0 non-null      datetime64[ns]
 5   IsDeleted  24 non-null     bool
dtypes: bool(1), datetime64[ns](1), datetime64[us, UTC](1), int64(2), object(1)
memory usage: 1.1+ KB

In [1268]:
States

,Id,StateName,CountryId,CreatedAt,UpdatedAt,IsDeleted
0,1,Buenos Aires,1,2024-12-06 07:27:30.354426+00:00,NaT,False
1,2,Catamarca,1,2024-12-06 07:27:30.354426+00:00,NaT,False
2,3,Chaco,1,2024-12-06 07:27:30.354426+00:00,NaT,False
3,4,Chubut,1,2024-12-06 07:27:30.354426+00:00,NaT,False
4,5,Córdoba,1,2024-12-06 07:27:30.354426+00:00,NaT,False
5,6,Corrientes,1,2024-12-06 07:27:30.354426+00:00,NaT,False
6,7,Entre Ríos,1,2024-12-06 07:27:30.354426+00:00,NaT,False
7,8,Formosa,1,2024-12-06 07:27:30.354426+00:00,NaT,False
8,9,Jujuy,1,2024-12-06 07:27:30.354426+00:00,NaT,False
9,10,La Pampa,1,2024-12-06 07:27:30.354426+00:00,NaT,False
10,11,La Rioja,1,2024-12-06 07:27:30.354426+00:00,NaT,False
11,12,Mendoza,1,2024-12-06 07:27:30.354426+00:00,NaT,False
12,13,Misiones,1,2024-12-06 07:27:30.354426+00:00,NaT,False
13,14,Neuquén,1,2024-12-06 07:27:30.354426+00:00,NaT,False
14,15,Río Negro,1,2024-12-06 07:27:30.354426+00:00,NaT,False
15,16,Salta,1,2024-12-06 07:27:30.354426+00:00,NaT,False
16,17,San Juan,1,2024-12-06 07:27:30.354426+00:00,NaT,False
17,18,San Luis,1,2024-12-06 07:27:30.354426+00:00,NaT,False
18,19,Santa Cruz,1,2024-12-06 07:27:30.354426+00:00,NaT,False
19,20,Santa Fe,1,2024-12-06 07:27:30.354426+00:00,NaT,False
20,21,Santiago del Estero,1,2024-12-06 07:27:30.354426+00:00,NaT,False
21,22,Tierra del Fuego,1,2024-12-06 07:27:30.354426+00:00,NaT,False
22,23,Tucumán,1,2024-12-06 07:27:30.354426+00:00,NaT,False
23,24,Ciudad Autónoma de Buenos Aires,1,2024-12-06 07:27:30.354426+00:00,NaT,False

### 2.7 Tabla de datos de Genres

Creación de la tabla Genres

In [1269]:
data_genres = {
    1: "Male",
    2: "Female",
    3: "Non-binary",
    4: "Gender fluid",
    5: "Agender",
    6: "Bigender",
    7: "Demiboy",
    8: "DemiGirl"
}

Genres = pd.DataFrame(data_genres.items(), columns=["Id", "GenreName"])

In [1270]:
Genres.loc[:, 'CreatedAt'] = datetime.now(pytz.UTC)
Genres['UpdatedAt'] = pd.Series([None] * len(Genres), dtype="datetime64[ns]")
Genres['IsDeleted'] = False

In [1271]:
Genres.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Id         8 non-null      int64
 1   GenreName  8 non-null      object
 2   CreatedAt  8 non-null      datetime64[us, UTC]
 3   UpdatedAt  0 non-null      datetime64[ns]
 4   IsDeleted  8 non-null      bool
dtypes: bool(1), datetime64[ns](1), datetime64[us, UTC](1), int64(1), object(1)
memory usage: 392.0+ bytes

In [1272]:
Genres

   Id     GenreName                        CreatedAt UpdatedAt  IsDeleted
0   1          Male 2024-12-06 07:27:31.556384+00:00       NaT      False
1   2        Female 2024-12-06 07:27:31.556384+00:00       NaT      False
2   3    Non-binary 2024-12-06 07:27:31.556384+00:00       NaT      False
3   4  Gender fluid 2024-12-06 07:27:31.556384+00:00       NaT      False
4   5       Agender 2024-12-06 07:27:31.556384+00:00       NaT      False
5   6      Bigender 2024-12-06 07:27:31.556384+00:00       NaT      False
6   7       Demiboy 2024-12-06 07:27:31.556384+00:00       NaT      False
7   8      DemiGirl 2024-12-06 07:27:31.556384+00:00       NaT      False

### 2.8 Tabla de datos de Users

Creación de la tabla Users

Transformación de valores de las columnas RoleName,CountryName basada en relación

In [1273]:
Users = df_users.copy()

In [1274]:
Users["RoleName"] = Users["RoleName"].map(Roles.set_index("RoleName")["Id"])
Users["CountryName"] = Users["CountryName"].map(Countries.set_index("CountryName")["Id"])
Users["StateName"] = Users["StateName"].map(States.set_index("StateName")["Id"])
Users["GenreName"] = Users["GenreName"].map(Genres.set_index("GenreName")["Id"])

In [1275]:
Users.rename(columns={'RoleName':'RoleId', 'CountryName':'CountryId', 
                                 'StateName':'StateId', 'GenreName':'GenreId' }, inplace=True)

In [1276]:
Users.drop(["IsCompany"], axis=1, inplace=True)

In [1277]:
Users['BirthDate'] = pd.to_datetime(Users['BirthDate'], format='%d/%m/%Y', errors='coerce')
Users['IsProfileComplete'] = Users['IsProfileComplete'].astype(bool)
Users['Dni'] = Users['Dni'].astype(str)

In [1278]:
Users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id                 10 non-null     int64
 1   RoleId             10 non-null     int64
 2   CountryId          10 non-null     int64
 3   StateId            10 non-null     int64
 4   UserOwnerInfoId    5 non-null      Int64
 5   UserTenantInfoId   5 non-null      Int64
 6   Name               10 non-null     object
 7   LastName           10 non-null     object
 8   Dni                10 non-null     object
 9   Phone              10 non-null     object
 10  Address            10 non-null     object
 11  BirthDate          10 non-null     datetime64[ns]
 12  Email              10 non-null     object
 13  Password           10 non-null     object
 14  IsProfileComplete  10 non-null     bool
 15  GenreId            10 non-null     int64
 16  CreatedAt          10 non-null     datetime64[us, UTC]
 17  UpdatedAt          0 non-null      datetime64[ns]
 18  IsDeleted          10 non-null     bool
dtypes: Int64(2), bool(2), datetime64[ns](2), datetime64[us, UTC](1), int64(5), object(7)
memory usage: 1.5+ KB

In [1279]:
Users

,Id,RoleId,CountryId,StateId,UserOwnerInfoId,UserTenantInfoId,Name,LastName,Dni,Phone,Address,BirthDate,Email,Password,IsProfileComplete,GenreId,CreatedAt,UpdatedAt,IsDeleted
0,1,1,1,17,<NA>,1,Trinidad,Farre,92309378,+54 9 11-5516-2964,Acceso Nydia Gimenez 975,1971-04-03,trinidad.farre@gmail.com,@Farre03,True,2,2024-12-06 07:27:23.081286+00:00,NaT,False
1,2,2,1,16,1,<NA>,Victorino,Valentin,19496248,+54 9 21-5986-6054,Camino del Libertador 1304,1999-05-20,victorino.valentin@gmail.com,<Valentin20,True,1,2024-12-06 07:27:23.081286+00:00,NaT,False
2,3,1,1,9,<NA>,2,Rosenda,Barreda,12697037,+54 9 21-5297-7790,Pasaje de Emperatriz Ribes 56,1980-01-20,rosenda.barreda@gmail.com,@Barreda20,True,2,2024-12-06 07:27:23.081286+00:00,NaT,False
3,4,2,1,16,2,<NA>,Panfilo,Vergara,57455334,+54 9 21-4995-5021,Alameda de Heliodoro Hurtado 317,1952-07-29,panfilo.vergara@gmail.com,@Vergara29,True,1,2024-12-06 07:27:23.081286+00:00,NaT,False
4,5,1,1,6,<NA>,3,Lucia,Arrieta,16391990,+54 9 11-4236-3158,Ronda de Quirino Suarez 3476,1953-09-08,lucia.arrieta@gmail.com,]Arrieta08,True,2,2024-12-06 07:27:23.081286+00:00,NaT,False
5,6,2,1,20,3,<NA>,Cloe,Pinol,38504574,+54 9 23-4978-8992,Ronda Pancho Alsina 98,1980-02-14,cloe.pinol@gmail.com,>Pinol14,True,2,2024-12-06 07:27:23.081286+00:00,NaT,False
6,7,1,1,14,<NA>,4,Ani,Martinez,45999479,+54 9 20-5488-1454,Avenida Corrientes 1157,1984-10-06,ani.martinez@gmail.com,#Martinez06,True,2,2024-12-06 07:27:23.081286+00:00,NaT,False
7,8,2,1,5,4,<NA>,Silvia,Matas,41942604,+54 9 12-4898-4106,Calle Rivadavia 456,1987-02-18,silvia.matas@gmail.com,.Matas18,True,2,2024-12-06 07:27:23.081286+00:00,NaT,False
8,9,1,1,9,<NA>,5,Chuy,Larranaga,39788013,+54 9 15-4249-7155,C. Macaria Tomas 715,1960-07-31,chuy.larranaga@gmail.com,{Larranaga31,True,1,2024-12-06 07:27:23.081286+00:00,NaT,False
9,10,2,1,21,5,<NA>,Pacifica,Valcarcel,11747146,+54 9 12-6644-4604,C. de Isa Ariño 450,1967-01-23,pacifica.valcarcel@gmail.com,?Valcarcel23,True,2,2024-12-06 07:27:23.081286+00:00,NaT,False

### 2.9 Tabla de datos de Images

In [1280]:
Images = df_prop[['Id', 'img', 'CreatedAt', 'UpdatedAt', 'IsDeleted']]

In [1281]:
Images = Images.rename(columns={'Id': 'PropertyId', 'img': 'ImageUrl'})

In [1282]:
Images.insert(0, 'Id', range(1, len(Images) + 1))
Images.insert(2, 'UserId', pd.Series([None] * len(Images), dtype="Int64"))

In [1283]:
Images.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Id          5 non-null      int64
 1   PropertyId  5 non-null      int64
 2   UserId      0 non-null      Int64
 3   ImageUrl    5 non-null      object
 4   CreatedAt   5 non-null      datetime64[us, UTC]
 5   UpdatedAt   0 non-null      datetime64[ns]
 6   IsDeleted   5 non-null      bool
dtypes: Int64(1), bool(1), datetime64[ns](1), datetime64[us, UTC](1), int64(2), object(1)
memory usage: 378.0+ bytes

In [1284]:
Images

,Id,PropertyId,UserId,ImageUrl,CreatedAt,UpdatedAt,IsDeleted
0,1,1,<NA>,['https://static1.sosiva451.com/11772651/daf5a...,2024-12-06 07:26:55.743750+00:00,NaT,False
1,2,2,<NA>,['https://static1.sosiva451.com/12161351/719f1...,2024-12-06 07:26:55.743750+00:00,NaT,False
2,3,3,<NA>,['https://static1.sosiva451.com/83026561/ac6af...,2024-12-06 07:26:55.743750+00:00,NaT,False
3,4,4,<NA>,['https://static1.sosiva451.com/06950461/e35a5...,2024-12-06 07:26:55.743750+00:00,NaT,False
4,5,5,<NA>,['https://static1.sosiva451.com/22799461/e73d3...,2024-12-06 07:26:55.743750+00:00,NaT,False

### 2.10 Tabla de datos de Requirements

In [1285]:
Requirements = UsersTenantsInfo.copy()

In [1286]:
Requirements = Requirements[['Id', 'IsWorking', 'HasWarranty', 'SalaryId', 'CreatedAt', 'UpdatedAt', 'IsDeleted']]

In [1378]:
#corregir ver mañana si es salary id o simplemente va el valor en precio y no escala
Requirements1 = Requirements.rename(columns={'SalaryId':'RangeSalary'})

In [1287]:
Requirements.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Id           5 non-null      int64
 1   IsWorking    5 non-null      bool
 2   HasWarranty  5 non-null      bool
 3   SalaryId     5 non-null      int64
 4   CreatedAt    5 non-null      datetime64[us, UTC]
 5   UpdatedAt    0 non-null      datetime64[ns]
 6   IsDeleted    5 non-null      bool
dtypes: bool(3), datetime64[ns](1), datetime64[us, UTC](1), int64(2)
memory usage: 303.0 bytes

In [1288]:
Requirements

,Id,IsWorking,HasWarranty,SalaryId,CreatedAt,UpdatedAt,IsDeleted
0,1,True,True,2,2024-12-06 07:27:23.081286+00:00,NaT,False
1,2,True,True,2,2024-12-06 07:27:23.081286+00:00,NaT,False
2,3,True,True,2,2024-12-06 07:27:23.081286+00:00,NaT,False
3,4,True,True,2,2024-12-06 07:27:23.081286+00:00,NaT,False
4,5,True,True,3,2024-12-06 07:27:23.081286+00:00,NaT,False

### 2.11 Tabla de datos de Properties

In [1364]:
Properties = df_prop.copy()

In [1365]:
Properties.drop(['IsWorking', 'HasWarranty', 'SalaryId'], axis=1, inplace=True)

Combinando tablas Users Tenants y UserOwner para obtener Ids

In [1366]:
Properties = Properties.merge(UsersTenantsInfo[['Id', 'UserId', ]], on='Id', how='inner')
Properties.insert(2, 'UserId', Properties.pop('UserId'))
Properties.rename(columns={'UserId': 'TenantId'}, inplace=True)

In [1367]:
Properties = Properties.merge(UserOwnerInfo[['Id', 'UserId']], on='Id', how='inner')
Properties.insert(2, 'UserId', Properties.pop('UserId'))
Properties.rename(columns={'UserId': 'OwnerId'}, inplace=True)

Creando RequirementsId en base a la cantidad de Inquilinos(Requirements)

In [1368]:
Properties.insert(4, 'RequirementId', range(1, len(Requirements) + 1))

Relacionando Country, StateName con sus Ids

In [1369]:
Properties["CountryName"] = Properties["CountryName"].map(Countries.set_index("CountryName")["Id"])
Properties["StateName"] = Properties["StateName"].apply(lambda x: unidecode(x).lower()).map(
    States.set_index(States["StateName"].apply(lambda x: unidecode(x).lower()))["Id"]
)

In [1370]:
Properties["img"] = Properties["img"].map(Images.set_index("ImageUrl")["Id"])

In [1371]:
Properties.drop('Id', axis=1, inplace=True)

In [1372]:
Properties.rename(columns={'img': 'Id', 'CountryName': 'CountryId', 'StateName': 'StateId'}, inplace=True)

In [1374]:
Properties.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 29 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             5 non-null      int64
 1   OwnerId        5 non-null      int64
 2   TenantId       5 non-null      int64
 3   RequirementId  5 non-null      int64
 4   CountryId      5 non-null      int64
 5   StateId        5 non-null      int64
 6   Title          5 non-null      object
 7   Address        5 non-null      object
 8   Price          5 non-null      float64
 9   Environments   5 non-null      int64
 10  Bathrooms      5 non-null      int64
 11  Bedrooms       5 non-null      int64
 12  Seniority      5 non-null      int64
 13  Water          5 non-null      bool
 14  Gas            5 non-null      bool
 15  Surveillance   5 non-null      bool
 16  Electricity    5 non-null      bool
 17  Internet       5 non-null      bool
 18  Pool           5 non-null      bool
 19  Garage         5 non-null      bool
 20  Pets           5 non-null      bool
 21  Grill          5 non-null      bool
 22  Elevator       5 non-null      bool
 23  Terrace        5 non-null      bool
 24  IsHistoric     5 non-null      bool
 25  Description    5 non-null      object
 26  CreatedAt      5 non-null      datetime64[us, UTC]
 27  UpdatedAt      0 non-null      datetime64[ns]
 28  IsDeleted      5 non-null      bool
dtypes: bool(13), datetime64[ns](1), datetime64[us, UTC](1), float64(1), int64(10), object(3)
memory usage: 833.0+ bytes

In [1373]:
Properties

,Id,OwnerId,TenantId,RequirementId,CountryId,StateId,Title,Address,Price,Environments,Bathrooms,Bedrooms,Seniority,Water,Gas,Surveillance,Electricity,Internet,Pool,Garage,Pets,Grill,Elevator,Terrace,IsHistoric,Description,CreatedAt,UpdatedAt,IsDeleted
0,1,2,1,1,1,1,La reserva de Cardales 100,"Lomas del Río Luján, Partido de Campana, Bueno...",1820898.0,5,5,4,6,True,True,False,True,False,False,False,False,True,True,False,True,Hermosa casa en alquiler ubicada en La Reserva...,2024-12-06 07:26:55.743750+00:00,NaT,False
1,2,4,3,2,1,1,Casa alquiler en San Gabriel Villanueva Tigre,"Barrio San Gabriel, Dique Luján, Partido de Tigre",2529025.0,4,3,3,0,True,True,False,True,False,True,True,False,True,False,True,False,ANUAL U$S 2.500.- AMOBLADA\n enero u$4000 ALQ...,2024-12-06 07:26:55.743750+00:00,NaT,False
2,3,6,5,3,1,20,French al 2800,"5934, Domingo French, Empalme Graneros",190000.0,4,1,2,40,True,True,False,True,True,True,True,False,True,True,True,True,LA PROPIEDAD SE ENCUENTRA UBICADA EN LA CALLE ...,2024-12-06 07:26:55.743750+00:00,NaT,False
3,4,8,7,4,1,1,Primera Junta 100,"Primera Junta, Quilmes Este, Quilmes",600000.0,3,2,2,0,True,True,False,True,False,False,True,False,True,False,True,True,PH para uso Profesional en Alquiler.\n El ingr...,2024-12-06 07:26:55.743750+00:00,NaT,False
4,5,10,9,5,1,20,Mendoza 2300,"2649, Mendoza, Nuestra Señora de Lourdes",2300000.0,5,2,4,90,True,True,True,True,True,True,True,False,True,True,False,True,Imponente casa de estilo en la esquina de Alve...,2024-12-06 07:26:55.743750+00:00,NaT,False

In [1383]:
#arreglando la descripcion es muy largo solo acepta 100 varchar
Properties['Description'] = Properties['Description'].str.slice(0, 1000)

In [1384]:
Properties

,Id,OwnerId,TenantId,RequirementId,CountryId,StateId,Title,Address,Price,Environments,Bathrooms,Bedrooms,Seniority,Water,Gas,Surveillance,Electricity,Internet,Pool,Garage,Pets,Grill,Elevator,Terrace,IsHistoric,Description,CreatedAt,UpdatedAt,IsDeleted
0,1,2,1,1,1,1,La reserva de Cardales 100,"Lomas del Río Luján, Partido de Campana, Bueno...",1820898.0,5,5,4,6,True,True,False,True,False,False,False,False,True,True,False,True,Hermosa casa en alquiler ubicada en La Reserva...,2024-12-06 07:26:55.743750+00:00,NaT,False
1,2,4,3,2,1,1,Casa alquiler en San Gabriel Villanueva Tigre,"Barrio San Gabriel, Dique Luján, Partido de Tigre",2529025.0,4,3,3,0,True,True,False,True,False,True,True,False,True,False,True,False,ANUAL U$S 2.500.- AMOBLADA\n enero u$4000 ALQ...,2024-12-06 07:26:55.743750+00:00,NaT,False
2,3,6,5,3,1,20,French al 2800,"5934, Domingo French, Empalme Graneros",190000.0,4,1,2,40,True,True,False,True,True,True,True,False,True,True,True,True,LA PROPIEDAD SE ENCUENTRA UBICADA EN LA CALLE ...,2024-12-06 07:26:55.743750+00:00,NaT,False
3,4,8,7,4,1,1,Primera Junta 100,"Primera Junta, Quilmes Este, Quilmes",600000.0,3,2,2,0,True,True,False,True,False,False,True,False,True,False,True,True,PH para uso Profesional en Alquiler.\n El ingr...,2024-12-06 07:26:55.743750+00:00,NaT,False
4,5,10,9,5,1,20,Mendoza 2300,"2649, Mendoza, Nuestra Señora de Lourdes",2300000.0,5,2,4,90,True,True,True,True,True,True,True,False,True,True,False,True,Imponente casa de estilo en la esquina de Alve...,2024-12-06 07:26:55.743750+00:00,NaT,False

### 2.9 Cargo de datos a una base de datos (Superbase)

In [651]:
import psycopg2
from sqlalchemy import create_engine


DATABASE_URL = "postgresql+psycopg2://postgres.hgyiqhbbzwqzeblrsged:abcqwe123@aws-0-sa-east-1.pooler.supabase.com:5432/postgres"
engine = create_engine(DATABASE_URL)
print("Conexión exitosa")

Conexión exitosa

In [652]:
Users.to_sql("Users", engine, if_exists="append", index=False)

10

In [819]:
UsersTenantsInfo.to_sql("UsersTenantsInfo", engine, if_exists="append", index=False)

5

In [1399]:
UsersOwnersInfo.to_sql("UsersOwnersInfo", engine, if_exists="append", index=False)

5

In [1380]:
Requirements1.to_sql("Requirements", engine, if_exists="append", index=False)

5

In [1385]:
Properties.to_sql("Properties", engine, if_exists="append", index=False)

5

In [1403]:
Images.to_sql("Images", engine, if_exists="append", index=False)

DataError: (psycopg2.errors.InvalidTextRepresentation) malformed array literal: "['https://static1.sosiva451.com/11772651/daf5a529-66b9-4722-8738-6219caa16fe7_u_medium.jpg', 'https://static1.sosiva451.com/11772651/43385b5c-cfb1-4dab-a3d6-6cdcc4b8507f_u_medium.jpg', 'https://static1.sosiva451.com/11772651/e6959901-f651-4513-ada0-75b4a49dd7d5_u_medium.jpg']"
LINE 1: ...t", "UpdatedAt", "IsDeleted") VALUES (1, 1, NULL, '[''https:...
                                                             ^
DETAIL:  "[" must introduce explicitly-specified array dimensions.

[SQL: INSERT INTO "Images" ("Id", "PropertyId", "UserId", "ImageUrl", "CreatedAt", "UpdatedAt", "IsDeleted") VALUES (%(Id__0)s, %(PropertyId__0)s, %(UserId__0)s, %(ImageUrl__0)s, %(CreatedAt__0)s, %(UpdatedAt__0)s, %(IsDeleted__0)s), (%(Id__1)s, %(Property ... 348 characters truncated ... opertyId__4)s, %(UserId__4)s, %(ImageUrl__4)s, %(CreatedAt__4)s, %(UpdatedAt__4)s, %(IsDeleted__4)s)]
[parameters: {'UserId__0': None, 'PropertyId__0': 1, 'IsDeleted__0': False, 'ImageUrl__0': "['https://static1.sosiva451.com/11772651/daf5a529-66b9-4722-8738-6219caa16fe7_u_medium.jpg', 'https://static1.sosiva451.com/11772651/43385b5c-cfb1-4dab-a3d6-6cdcc4b8507f_u_medium.jpg', 'https://static1.sosiva451.com/11772651/e6959901-f651-4513-ada0-75b4a49dd7d5_u_medium.jpg']", 'Id__0': 1, 'CreatedAt__0': datetime.datetime(2024, 12, 6, 7, 26, 55, 743750, tzinfo=<UTC>), 'UpdatedAt__0': None, 'UserId__1': None, 'PropertyId__1': 2, 'IsDeleted__1': False, 'ImageUrl__1': "['https://static1.sosiva451.com/12161351/719f1444-1349-46b3-b133-9e1bf389bb05_u_medium.jpg', 'https://static1.sosiva451.com/12161351/e602556e-fdf2-410b-aa9b-ef7332d6bef2_u_medium.jpg', 'https://static1.sosiva451.com/12161351/caff74b2-78dd-4c7b-8e36-6fca40c7702f_u_medium.jpg']", 'Id__1': 2, 'CreatedAt__1': datetime.datetime(2024, 12, 6, 7, 26, 55, 743750, tzinfo=<UTC>), 'UpdatedAt__1': None, 'UserId__2': None, 'PropertyId__2': 3, 'IsDeleted__2': False, 'ImageUrl__2': "['https://static1.sosiva451.com/83026561/ac6af0d0-04eb-476f-b150-c07e5e3306c0_u_medium.jpg', 'https://static1.sosiva451.com/83026561/17f17c04-f67b-4318-8c62-5cd8d6624b65_u_medium.jpg', 'https://static1.sosiva451.com/83026561/3f335a71-5fee-435a-b389-50bbf270d7e1_u_medium.jpg']", 'Id__2': 3, 'CreatedAt__2': datetime.datetime(2024, 12, 6, 7, 26, 55, 743750, tzinfo=<UTC>), 'UpdatedAt__2': None, 'UserId__3': None, 'PropertyId__3': 4, 'IsDeleted__3': False, 'ImageUrl__3': "['https://static1.sosiva451.com/06950461/e35a5b62-62ca-4599-8436-05ba8ce9b51c_u_medium.jpg', 'https://static1.sosiva451.com/06950461/f8515ac3-163a-4f59-ba4e-31e0c7273def_u_medium.jpg', 'https://static1.sosiva451.com/06950461/161cfdf5-c37c-4c8a-827e-e5643048accc_u_medium.jpg']", 'Id__3': 4, 'CreatedAt__3': datetime.datetime(2024, 12, 6, 7, 26, 55, 743750, tzinfo=<UTC>), 'UpdatedAt__3': None, 'UserId__4': None, 'PropertyId__4': 5, 'IsDeleted__4': False, 'ImageUrl__4': "['https://static1.sosiva451.com/22799461/e73d3f47-ec48-4cdc-a8b2-0ebfc2b8fb8e_u_medium.jpg', 'https://static1.sosiva451.com/22799461/92d8c5cc-264d-4568-ac3a-0e2cd3acdb78_u_medium.jpg', 'https://static1.sosiva451.com/22799461/59970edb-b7a1-4f1d-980e-7217772269e8_u_medium.jpg']", 'Id__4': 5, 'CreatedAt__4': datetime.datetime(2024, 12, 6, 7, 26, 55, 743750, tzinfo=<UTC>), 'UpdatedAt__4': None}]
(Background on this error at: https://sqlalche.me/e/20/9h9h)