## Extraer datos mediante la API de inmobiliaria

Pagina donde se hizo el webscraping: https://www.argenprop.com/ 

Paises admitidos: Argentina, Chile, Uruguay, Brasil(1propiedad)

## 1. Creamos la conexión con la API para extraer los datos

In [15]:
%%time
import requests
import pandas as pd

url = 'http://127.0.0.1:5000/argenprop'

# Parámetros de la solicitud
params = {'pais': 'argentina', 'limite': 300}
response = requests.get(url, params=params)

data = response.json()
df = pd.DataFrame(data)

CPU times: total: 0 ns
Wall time: 3min 44s

In [16]:
from geopy.geocoders import Nominatim
import numpy as np

In [17]:
df.head()

,Bathrooms,Bedrooms,CountryName,Description,Environments,Latitude,Longitude,Price,Seniority,StateName,Title,img
0,2,3,Argentina,"Casa en Barrio Privado Camino Real, cuenta con...",4,"-34,48684","-58,58234",USD 2.300,27,Buenos Aires,Av. Camino Real Morón San Fernando 1500,[https://static1.sosiva451.com/08910661/ea4bac...
1,2,3,Argentina,Alquilo amplio Duplex en Florencio varela comb...,4,"-34,79154","-58,27525",$ 490.000,10,Buenos Aires,Combate De San Lorenzo 1700,[https://static1.sosiva451.com/28339561/734f48...
2,4,4,Argentina,EL VALOR ES CON EXPENSAS INCLUIDAS.\n Excelent...,5,"-34,446335","-58,855007",USD 1.200,35,Buenos Aires,U$S1200 + expensas,[https://static1.sosiva451.com/04247161/ee59a5...
3,2,4,Argentina,DUEÑO ALQUILA\r\n\n •SIN EXPENSAS\r\n •SIN GAS...,5,None,None,USD 1.100,15,Buenos Aires,casa en lujan con pileta alquiler anual,[https://static1.sosiva451.com/09149461/6abd53...
4,2,4,Argentina,Imponente casa de estilo en la esquina de Alve...,5,"-32,94819","-60,66076",$ 2.300.000,90,Santa Fe,Mendoza 2300,[https://static1.sosiva451.com/22799461/e73d3f...

In [18]:
df_etl = df.copy()

In [19]:

# Leer el archivo CSV en lugar de un archivo Excel
csv_path = 'Data_ficticia\\Users_Ficticios_IA.csv'
df_users = pd.read_csv(csv_path)
df_users

,Name,LastName,Dni,Phone,Address,BirthDate,Email,Password
0,Isaias,Lucena,63142191,+54 9 14-4193-4616,"Calle Charo Jordá 744, Trelew, Argentina",1972-04-26,isaias.lucena@gmail.com,",Lucena26"
1,Susana,Segura,34079113,+54 9 13-4929-6761,"Via Pío Carranza 864, Mar del Plata, Argentina",1972-04-25,susana.segura@gmail.com,_Segura25
2,Cintia,Diaz,91561184,+54 9 20-5624-9452,"Vial Eliana Bárcena 169, La Plata, Argentina",1986-01-03,cintia.diaz@gmail.com,]Diaz03
3,Irma,Campo,78322155,+54 9 15-6016-4939,"Pasaje de Florina Palacios 230, Rosario, Argen...",1950-08-20,irma.campo@gmail.com,#Campo20
4,Hector,Uriarte,65513184,+54 9 21-4623-4951,"Cuesta de Félix Montesinos 439, Rosario, Argen...",1990-03-25,hector.uriarte@gmail.com,?Uriarte25
...,...,...,...,...,...,...,...,...
495,Gracia,Santos,74209416,+54 9 19-5934-1122,"Vial Rómulo Noriega 542, San Miguel de Tucumán...",1969-07-15,gracia.santos@gmail.com,|Santos15
496,Anabel,Alcala,54211584,+54 9 16-4156-9202,"Cuesta de Adolfo Font 300, Rosario, Argentina",1986-05-23,anabel.alcala@gmail.com,`Alcala23
497,Aaron,Cespedes,57106311,+54 9 19-4203-1698,"Vial de Paloma Montes 859, San Salvador de Juj...",1969-01-19,aaron.cespedes@gmail.com,#Cespedes19
498,Lara,Linares,38253095,+54 9 13-4618-6453,"Urbanización de Alfonso Valero 82, Córdoba, Ar...",1989-11-30,lara.linares@gmail.com,;Linares30
499,Pascual,Casares,76298449,+54 9 22-4454-6317,"Ronda Crescencia Quiroga 773, San Salvador de ...",1963-07-30,pascual.casares@gmail.com,[Casares30

In [20]:
df.columns

Index(['Bathrooms', 'Bedrooms', 'CountryName', 'Description', 'Environments',
       'Latitude', 'Longitude', 'Price', 'Seniority', 'StateName', 'Title',
       'img'],
      dtype='object')

In [6]:
df_users.columns

Index(['Name', 'LastName', 'Dni', 'Phone', 'Address', 'BirthDate', 'Email',
       'Password'],
      dtype='object')

In [21]:
df_interes = df_etl[['CountryName','StateName']]
df_interes

    CountryName     StateName
0     Argentina  Buenos Aires
1     Argentina  Buenos Aires
2     Argentina  Buenos Aires
3     Argentina  Buenos Aires
4     Argentina      Santa Fe
..          ...           ...
295   Argentina  Buenos Aires
296   Argentina       Tucuman
297   Argentina  Buenos Aires
298   Argentina      Santa Fe
299   Argentina  Buenos Aires

[300 rows x 2 columns]

In [22]:
# Utilización de la nomenclatura correcta para las columnas de interés
df_interes = df_interes.rename(columns={
    'CountryName': 'CountryId'})

#Unión de los df
df_combined = pd.concat([df_interes, df_users],axis=1)

df_combined.columns

Index(['CountryId', 'StateName', 'Name', 'LastName', 'Dni', 'Phone', 'Address',
       'BirthDate', 'Email', 'Password'],
      dtype='object')

In [23]:
# Crear la columna IsProfileComplete que autocomplete con True o False dependiendo de si hay Nulls o no
df_combined['IsProfileComplete'] = df_combined.notnull().all(axis=1)

# Verificar las primeras filas
df_combined.head()

,CountryId,StateName,Name,LastName,Dni,Phone,Address,BirthDate,Email,Password,IsProfileComplete
0,Argentina,Buenos Aires,Isaias,Lucena,63142191,+54 9 14-4193-4616,"Calle Charo Jordá 744, Trelew, Argentina",1972-04-26,isaias.lucena@gmail.com,",Lucena26",True
1,Argentina,Buenos Aires,Susana,Segura,34079113,+54 9 13-4929-6761,"Via Pío Carranza 864, Mar del Plata, Argentina",1972-04-25,susana.segura@gmail.com,_Segura25,True
2,Argentina,Buenos Aires,Cintia,Diaz,91561184,+54 9 20-5624-9452,"Vial Eliana Bárcena 169, La Plata, Argentina",1986-01-03,cintia.diaz@gmail.com,]Diaz03,True
3,Argentina,Buenos Aires,Irma,Campo,78322155,+54 9 15-6016-4939,"Pasaje de Florina Palacios 230, Rosario, Argen...",1950-08-20,irma.campo@gmail.com,#Campo20,True
4,Argentina,Santa Fe,Hector,Uriarte,65513184,+54 9 21-4623-4951,"Cuesta de Félix Montesinos 439, Rosario, Argen...",1990-03-25,hector.uriarte@gmail.com,?Uriarte25,True

In [24]:
df_prop = df.copy()

In [25]:
df_prop['Latitude'] = df_prop['Latitude'].str.replace(',', '.').astype(float)
df_prop['Longitude'] = df_prop['Longitude'].str.replace(',', '.').astype(float)

In [26]:
df_prop = df_prop.dropna(subset=['Latitude', 'Longitude'])

In [27]:
# Inicializa el geocodificador
geolocator = Nominatim(user_agent="geoapi_exercises")

# Función para obtener la dirección
def obtener_direccion(lat, lon):
    try:
        location = geolocator.reverse((lat, lon))
        return location.address if location else "Dirección no encontrada"
    except Exception as e:
        return f"Error: {e}"

# Aplico la función a cada fila del DataFrame
df_prop['Address'] = df_prop.apply(lambda x: obtener_direccion(x['Latitude'], x['Longitude']), axis=1)

In [28]:
# me quedo con los primeros 3 elementos de la dirección
df_prop['Address'] = df_prop['Address'].apply(lambda x: ', '.join(x.split(', ')[:3]))

# elimino las columnas latitud y longitud
df_prop = df_prop.drop(columns=['Latitude', 'Longitude'])

In [29]:
columnas = [
    "Water", "Gas", "Surveillance", "Electricity", "Internet", 
    "Pool", "Garage", "Pets", "Grill", "Elevator", "Terrace",
    "IsHistoric", "IsWorking", "HasWarranty", "RangeSalary"
]

# Agregar columnas con valores específicos
for column in columnas:
    if column in ["Water", "Gas", "Electricity"]:
        df_prop[column] = True  # Estas columnas son siempre True
    elif column in ["Surveillance", "Pets", "Pool"]:
        df_prop[column] = np.random.choice([True, False], size=len(df_prop))
    elif column == "RangeSalary":
        # Genero los salarios con distribución sesgada a la izquierda
        salary_range = np.random.triangular(left=400000, mode=1200000, right=3000000, size=len(df_prop))
        salary_range = salary_range.astype(int)  # Asegurarnos de que sean números enteros
        df_prop[column] = salary_range
    else:
        df_prop[column] = np.random.choice([True, False], size=len(df_prop), p=[0.8, 0.2]) # sesgo para que haya mas true que false

In [30]:
orden_col = [
    "IsWorking", "HasWarranty", "RangeSalary", "CountryName", "StateName", "Title", "Address", "Price", "Environments", 
    "Bathrooms", "Bedrooms", "Seniority", "Water", "Gas", 
    "Surveillance", "Electricity", "Internet", "Pool", 
    "Garage", "Pets", "Grill", "Elevator", "Terrace", 
    "IsHistoric", "Description", "img"
]

# Reordenar las columnas del DataFrame
df_prop = df_prop[orden_col]

In [31]:
df_prop.head()

,IsWorking,HasWarranty,RangeSalary,CountryName,StateName,Title,Address,Price,Environments,Bathrooms,...,Internet,Pool,Garage,Pets,Grill,Elevator,Terrace,IsHistoric,Description,img
0,True,True,1886162,Argentina,Buenos Aires,Av. Camino Real Morón San Fernando 1500,"Barrio Camino Real, La Horqueta, Boulogne Sur Mer",USD 2.300,4,2,...,True,True,True,True,True,True,True,True,"Casa en Barrio Privado Camino Real, cuenta con...",[https://static1.sosiva451.com/08910661/ea4bac...
1,True,False,1005311,Argentina,Buenos Aires,Combate De San Lorenzo 1700,"Combate de San Lorenzo, Gobernador Monteverde,...",$ 490.000,4,2,...,True,True,True,False,True,False,True,True,Alquilo amplio Duplex en Florencio varela comb...,[https://static1.sosiva451.com/28339561/734f48...
2,False,True,674880,Argentina,Buenos Aires,U$S1200 + expensas,"Mapuche Country Club, La Lonja, Partido del Pilar",USD 1.200,5,4,...,False,True,True,False,True,True,False,True,EL VALOR ES CON EXPENSAS INCLUIDAS.\n Excelent...,[https://static1.sosiva451.com/04247161/ee59a5...
4,True,True,1751081,Argentina,Santa Fe,Mendoza 2300,"2649, Mendoza, Nuestra Señora de Lourdes",$ 2.300.000,5,2,...,False,True,True,True,True,True,True,True,Imponente casa de estilo en la esquina de Alve...,[https://static1.sosiva451.com/22799461/e73d3f...
5,True,True,1694502,Argentina,Buenos Aires,Puertos del Lago Barrio Marinas Escobar Alquiler,"RP25, Barrio Parque El Cazador, El Cazador",USD 7.500,7,5,...,False,True,True,False,False,False,True,False,Exclusiva Casa en Alquiler en Puertos del Lago...,[https://static1.sosiva451.com/48236461/e64ab1...