## Extraer datos mediante la API de inmobiliaria

Pagina donde se hizo el webscraping: https://www.argenprop.com/ 

Paises admitidos: Argentina, Chile, Uruguay, Brasil(1propiedad)

## 1. Creamos la conexión con la API para extraer los datos

In [2]:
%%time
import requests
import pandas as pd

url = 'http://127.0.0.1:5000/argenprop'

# Parámetros de la solicitud
params = {'pais': 'argentina', 'limite': 300}
response = requests.get(url, params=params)

data = response.json()
df = pd.DataFrame(data)

CPU times: total: 0 ns
Wall time: 1min 8s

In [3]:
df

,Bathrooms,Bedrooms,CountryName,Description,Environments,Latitude,Longitude,Price,Seniority,StateName,Title,img
0,2,3,Argentina,"Casa en Barrio Privado Camino Real, cuenta con...",4,"-34,48684","-58,58234",USD 2.300,27,Buenos Aires,Av. Camino Real Morón San Fernando 1500,[https://static1.sosiva451.com/08910661/ea4bac...
1,2,3,Argentina,Alquilo amplio Duplex en Florencio varela comb...,4,"-34,79154","-58,27525",$ 490.000,10,Buenos Aires,Combate De San Lorenzo 1700,[https://static1.sosiva451.com/28339561/734f48...
2,2,3,Argentina,ALQUILER DE CASA EN BARRIO SANTA ELISA CON PIL...,4,"-34,394108","-58,89099",USD 1.200,0,Buenos Aires,Barrio Santa Elisa,[https://static1.sosiva451.com/43958561/6c4720...
3,2,4,Argentina,DUEÑO ALQUILA\r\n\n •SIN EXPENSAS\r\n •SIN GAS...,5,None,None,USD 1.100,15,Buenos Aires,casa en lujan con pileta alquiler anual,[https://static1.sosiva451.com/09149461/6abd53...
4,4,4,Argentina,EL VALOR ES CON EXPENSAS INCLUIDAS.\n Excelent...,5,"-34,446335","-58,855007",USD 1.950,35,Buenos Aires,U$S1950 con expensas incluidas,[https://static1.sosiva451.com/04247161/263253...
...,...,...,...,...,...,...,...,...,...,...,...,...
295,5,3,Argentina,Hermosa y amplia Casa desarrollada en dos plan...,4,"-34,36595","-58,7351",USD 1.350,6,Buenos Aires,La Pista 100,[https://static1.sosiva451.com/26798261/62d8a1...
296,3,4,Argentina,Exclente casa a estrenar en alquiler temporar...,5,"-34,36042","-58,75144",USD 2.500,0,Buenos Aires,Barrio San Matias.,[https://static1.sosiva451.com/27609361/c2ddbf...
297,2,3,Argentina,"Hermosa casa en alquiler, Tres dormitorios con...",None,"-31,384708","-64,18256",$ 650.000,0,Cordoba,Gral J A Lavalleja 2600,[https://static1.sosiva451.com/35094561/c66327...
298,1,2,Argentina,"Departamento tipo dúplex de dos dormitorios, a...",None,"-32,93146","-60,760517",$ 390.000,3,Santa Fe,Petrone 9000,[https://static1.sosiva451.com/50795561/4581cb...
299,2,3,Argentina,Zona:Residencial\t-\tAsfalto\t- Obra sanitaria...,4,"-34,39995","-58,82877",USD 9.000,37,Buenos Aires,Alborada,[https://static1.sosiva451.com/02419561/721374...

In [4]:
df_etl = df.copy()

In [5]:

# Leer el archivo CSV en lugar de un archivo Excel
csv_path = 'C:\\Users\\Usuario\\Desktop\\IGROWKER - REFFINDR\\DataA -Role\\i004-reffindr-back-python\\Data_ficticia\\Users_Ficticios_IA.csv'
df_users = pd.read_csv(csv_path)
df_users

,Name,LastName,Dni,Phone,Address,BirthDate,Email,Password
0,Isaias,Lucena,63142191,+54 9 14-4193-4616,"Calle Charo Jordá 744, Trelew, Argentina",1972-04-26,isaias.lucena@gmail.com,",Lucena26"
1,Susana,Segura,34079113,+54 9 13-4929-6761,"Via Pío Carranza 864, Mar del Plata, Argentina",1972-04-25,susana.segura@gmail.com,_Segura25
2,Cintia,Diaz,91561184,+54 9 20-5624-9452,"Vial Eliana Bárcena 169, La Plata, Argentina",1986-01-03,cintia.diaz@gmail.com,]Diaz03
3,Irma,Campo,78322155,+54 9 15-6016-4939,"Pasaje de Florina Palacios 230, Rosario, Argen...",1950-08-20,irma.campo@gmail.com,#Campo20
4,Hector,Uriarte,65513184,+54 9 21-4623-4951,"Cuesta de Félix Montesinos 439, Rosario, Argen...",1990-03-25,hector.uriarte@gmail.com,?Uriarte25
...,...,...,...,...,...,...,...,...
495,Gracia,Santos,74209416,+54 9 19-5934-1122,"Vial Rómulo Noriega 542, San Miguel de Tucumán...",1969-07-15,gracia.santos@gmail.com,|Santos15
496,Anabel,Alcala,54211584,+54 9 16-4156-9202,"Cuesta de Adolfo Font 300, Rosario, Argentina",1986-05-23,anabel.alcala@gmail.com,`Alcala23
497,Aaron,Cespedes,57106311,+54 9 19-4203-1698,"Vial de Paloma Montes 859, San Salvador de Juj...",1969-01-19,aaron.cespedes@gmail.com,#Cespedes19
498,Lara,Linares,38253095,+54 9 13-4618-6453,"Urbanización de Alfonso Valero 82, Córdoba, Ar...",1989-11-30,lara.linares@gmail.com,;Linares30
499,Pascual,Casares,76298449,+54 9 22-4454-6317,"Ronda Crescencia Quiroga 773, San Salvador de ...",1963-07-30,pascual.casares@gmail.com,[Casares30

In [6]:
df.columns

Index(['Bathrooms', 'Bedrooms', 'CountryName', 'Description', 'Environments',
       'Latitude', 'Longitude', 'Price', 'Seniority', 'StateName', 'Title',
       'img'],
      dtype='object')

In [7]:
df_users.columns

Index(['Name', 'LastName', 'Dni', 'Phone', 'Address', 'BirthDate', 'Email',
       'Password'],
      dtype='object')

In [8]:
df_interes = df_etl[['CountryName','StateName']]
df_interes

    CountryName     StateName
0     Argentina  Buenos Aires
1     Argentina  Buenos Aires
2     Argentina  Buenos Aires
3     Argentina  Buenos Aires
4     Argentina  Buenos Aires
..          ...           ...
295   Argentina  Buenos Aires
296   Argentina  Buenos Aires
297   Argentina       Cordoba
298   Argentina      Santa Fe
299   Argentina  Buenos Aires

[300 rows x 2 columns]

In [9]:
# Utilización de la nomenclatura correcta para las columnas de interés
df_interes = df_interes.rename(columns={
    'CountryName': 'CountryId'})

#Unión de los df
df_combined = pd.concat([df_interes, df_users],axis=1)

df_combined.columns

Index(['CountryId', 'StateName', 'Name', 'LastName', 'Dni', 'Phone', 'Address',
       'BirthDate', 'Email', 'Password'],
      dtype='object')

In [10]:
# Crear la columna IsProfileComplete que autocomplete con True o False dependiendo de si hay Nulls o no
df_combined['IsProfileComplete'] = df_combined.notnull().all(axis=1)

# Verificar las primeras filas
df_combined.head()

,CountryId,StateName,Name,LastName,Dni,Phone,Address,BirthDate,Email,Password,IsProfileComplete
0,Argentina,Buenos Aires,Isaias,Lucena,63142191,+54 9 14-4193-4616,"Calle Charo Jordá 744, Trelew, Argentina",1972-04-26,isaias.lucena@gmail.com,",Lucena26",True
1,Argentina,Buenos Aires,Susana,Segura,34079113,+54 9 13-4929-6761,"Via Pío Carranza 864, Mar del Plata, Argentina",1972-04-25,susana.segura@gmail.com,_Segura25,True
2,Argentina,Buenos Aires,Cintia,Diaz,91561184,+54 9 20-5624-9452,"Vial Eliana Bárcena 169, La Plata, Argentina",1986-01-03,cintia.diaz@gmail.com,]Diaz03,True
3,Argentina,Buenos Aires,Irma,Campo,78322155,+54 9 15-6016-4939,"Pasaje de Florina Palacios 230, Rosario, Argen...",1950-08-20,irma.campo@gmail.com,#Campo20,True
4,Argentina,Buenos Aires,Hector,Uriarte,65513184,+54 9 21-4623-4951,"Cuesta de Félix Montesinos 439, Rosario, Argen...",1990-03-25,hector.uriarte@gmail.com,?Uriarte25,True